body {
  background-color: #f4bce2;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.navbar {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

#hero-section {
  position: relative;
  background: url("img/christopher-alvarenga-cfmSStcrDn4-unsplash.jpg")
    no-repeat center center/cover;
  height: 100vh;
  width: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hero-headshot {
  width: clamp(100px, 15vw, 200px);
  height: clamp(100px, 15vw, 200px);
  border-radius: 50%;
  border: 5px solid #b5828c;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  color: #f67935;
}

p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: #f67935;
}

.nav-link {
  text-align: right;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #ffcdb2;
}

.footer p {
  margin: 0;
  font-size: 16px;
  color: #e5989b;
}

#mission-section {
  background-color: #f7a7bb;
  color: #911427;
  height: 100vh;
  padding: clamp(2rem, 10vw, 5rem);
  margin: 0;
}

#mission-section h2 {
  color: #f0627f;
  font-size: 2.5rem;
}

#mission-section p {
  color: #dc3461;
  font-size: 1.5rem;
}

#mission-section img {
  max-width: 100%;
  height: auto;
}

#skills-section h2 {
  color: #c95169;
  font-size: 2.5rem;
}

#skills-section img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

#skills-section h5 {
  color: #5a3e42;
  font-size: 1.25rem;
}

#skills-section p {
  color: #5a3e42;
  font-size: 1rem;
}

#skills-section .col {
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills-section .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#skills-section .col-12,
.col-md-6,
.col-lg-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#contact-section{
  background-color: #f7a7bb;
  color: #911427;
  height: 100vh;
  padding: clamp(2rem, 10vw, 5rem);
  margin: 0;
}

#contact-section h2 {
  color: #c95169;
  font-size: 2.5rem;
  padding: 100px;
}

.contact-icon {
  font-size: 3rem;
  color: #5a3e42;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.contact-icon:hover {
  color: #c95169;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}
